<div class="app-shell">

  <aside class="sidebar">
    <div class="nav-brand">
      <img src="/ammenlogo.png" alt="AMEN BANK Logo" class="brand-logo" />
      <span>AMMEN BANK</span>
    </div>

    <nav class="sidebar-nav">
      @if (!authService.isAdmin()) {
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
          <i class="ti ti-layout-dashboard"></i> Tableau de bord
        </a>
        <a routerLink="/accounts" routerLinkActive="active" class="nav-item">
          <i class="ti ti-credit-card"></i> Mes comptes
        </a>
        <a routerLink="/transfers" routerLinkActive="active" class="nav-item">
          <i class="ti ti-arrows-exchange"></i> Virements
        </a>
        <a routerLink="/recurring-transfers" routerLinkActive="active" class="nav-item">
          <i class="ti ti-repeat"></i> Permanents
        </a>
        <a routerLink="/credits" routerLinkActive="active" class="nav-item">
          <i class="ti ti-receipt"></i> Crédits
        </a>
      }

      @if (authService.isAdmin()) {
        <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-item">
          <i class="ti ti-shield-lock"></i> Vue d'ensemble
        </a>
        <a routerLink="/admin/users" routerLinkActive="active" class="nav-item">
          <i class="ti ti-users"></i> Utilisateurs
        </a>
        <a routerLink="/admin/accounts" routerLinkActive="active" class="nav-item">
          <i class="ti ti-credit-card"></i> Comptes
        </a>
        <a routerLink="/admin/transactions" routerLinkActive="active" class="nav-item">
          <i class="ti ti-list-details"></i> Transactions
        </a>
        <a routerLink="/admin/credits" routerLinkActive="active" class="nav-item">
          <i class="ti ti-receipt-2"></i> Crédits à traiter
        </a>

        <a routerLink="/admin/audit-logs" routerLinkActive="active" class="nav-item">
          <i class="ti ti-shield-check"></i> Journal d'audit
        </a>
      }
    </nav>

    <button class="logout-button" (click)="logout()">
      <i class="ti ti-logout"></i> Déconnexion
    </button>
  </aside>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
</div>

<app-chatbot-widget></app-chatbot-widget>
